<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.egoeco_app"
    tools:ignore="MissingLeanbackLauncher">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <application
        android:name=".di.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/egoeco_launcher"
        android:label="EgoEco"
        android:roundIcon="@mipmap/egoeco_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Egoecoapp">
        <service
            android:name=".model.bluetooth.BluetoothService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".view.LoginActivity"
            android:theme="@style/splash_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:theme="@style/splash_theme" />
    </application>

</manifest>